{% extends "layout.twig" %}

{% block title %}Cartographie{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des cartes</li>
	</ol>

	<div class="well well-sm">
				
		<ul class="list-group">
		{% for map in maps %}
		
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{{ map.nom }}
						{{ map.description|markdown }}
					</div>
					<div class="col-md-4">
						<!--<a href="{{ path('mapmanager.gestion',{'geomap':map.id}) }}"><i class="fa fa-pencil"></i>Modifier</a>&nbsp;|&nbsp;-->
						<a href="{{ path('mapmanager.detail',{'geomap':map.id}) }}"><i class="fa fa-eye"></i>Voir</a>
						
					</div>
				</div>
		    </li>

		{% endfor %}
	 	</ul>
	</div>
		
{% endblock %}
